@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
.team-background {
  background-color: #F9D783;
  height: 1964px;
  margin-top: 75px;
  position: relative;
}
.team-background .btn-blk-extra {
  position: absolute;
  left: 70%;
  top: 8.5%;
}
.team-background .member-pictures {
  padding-bottom: 120px;
}
.team-background .member-pictures .container-extra {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.team-background .member-pictures .container-extra-extra {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px;
}
.team-background .member-pictures .container-extra-extra .info-txt h4 {
  color: #191919;
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
  font-size: 22px;
}
.team-background .member-pictures .container-extra-extra .info-txt p {
  color: rgba(25, 25, 25, 0.6941176471);
  font-size: 16px;
}
.team-background .member-pictures .dots {
  display: block;
  margin: auto;
  padding-top: 10px;
}
.team-background .testimonial-box {
  background-color: white;
  width: 75%;
  height: 887px;
  margin: auto;
}
.team-background .testimonial-box .section-title {
  text-align: center;
}
.team-background .testimonial-box .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.team-background .testimonial-box .testimonials .test-content {
  width: 420px;
  padding-bottom: 25px;
}
.team-background .testimonial-box .testimonials .test-content .stars {
  padding-bottom: 25px;
}
.team-background .testimonial-box .testimonials .test-content .nameandpic {
  display: flex;
}
.team-background .testimonial-box .testimonials .test-content .nameandpic .text {
  padding-left: 15px;
}
.team-background .testimonial-box .testimonials .test-content .nameandpic .text h4 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 22px;
  font-weight: 700;
}
.team-background .testimonial-box .testimonials .test-content .nameandpic .text p {
  color: #F94D1C;
}